.buttonNum{
-fx-background-radius: 0;
-fx-background-color: #252525;
-fx-text-fill: white;

-fx-font-size: 300%;/*14pt;*/

-fx-border-color: grey;
-fx-border-width: .1;
-fx-font-family:  Helvetica, sans-serif;
}
.buttonOp{
-fx-background-radius: 0;
-fx-background-color: #8C0000;
-fx-text-fill: white;

-fx-font-size: 300%;/*20pt;*/

-fx-border-color: black;
-fx-border-width: .1;
-fx-font-family:  Helvetica, sans-serif;
}
.buttonFunc{
-fx-background-radius: 0;
-fx-background-color: grey;
-fx-text-fill: white;

-fx-font-size: 200%;/*14pt;*/

-fx-border-color: black;
-fx-border-width: .1;
-fx-font-family:  Helvetica, sans-serif;
}
.buttonTop{
-fx-background-radius: 0;
-fx-background-color: #8C0000;
-fx-text-fill: white;

-fx-font-size: 200%;/*14pt;*/

-fx-font-weight: bolder;
-fx-font-family:  Helvetica, sans-serif;
}
.text-area *.text {
    -fx-text-alignment: right;
}
